.notification {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
}

.notification span {
  flex-grow: 1;
}

.closeButton {
  margin-left: 1rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
  color: inherit;
}

.success {
  background-color: #f0fdf4;
  border-color: #4ade80;
  color: #15803d;
}

.error {
  background-color: #fef2f2;
  border-color: #f87171;
  color: #b91c1c;
}

.info {
  background-color: #eff6ff;
  border-color: #60a5fa;
  color: #1d4ed8;
}